html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  min-width: 500px;
  width: 100%;
  margin: 0 auto;
  z-index: 5;
}
header {
  width: 100%;
  height: 7rem;
  background-color: grey;
  color: white;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
  flex-direction: row-reverse;
  margin: auto 0;
}
header img {
  width: 4rem;
  margin-right: 2rem;
  cursor: pointer;
  padding: 1rem 0;
}
header .menu {
  display: none;
  position: fixed;
  min-width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(79, 79, 79, 0.906);
}
header .menu ul li {
  font-size: 3rem;
  padding: 30px 0;
  text-align: center;
  cursor: pointer;
}
header .menu ul li a {
  text-decoration: none;
  color: white;
}
header .menu li:hover {
  background-color: black;
}
header .menu .exit {
  display: flex;
  flex-direction: row-reverse;
  margin: 2rem 4rem 0 0;
  cursor: pointer;
}
header .menu .center {
  display: flex;
  text-align: center;
  padding: 30px 0;
}
header .menu .center button {
  margin: 0 auto;
  width: 25%;
  font-size: 3rem;
  border-radius: 10px;
  cursor: pointer;
}
header .menu--open {
  display: block;
}
.prison-body {
  display: flex-column;
  flex-wrap: wrap;
  justify-content: space-around;
}
.prison-body .page-title {
  padding: 10rem 4rem 6rem;
  background-color: black;
  color: white;
}
.prison-body .page-title h1 {
  border-bottom: 0.2rem solid white;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}
.prison-body .page-title button {
  height: 4rem;
  width: 40%;
  font-size: 1.8rem;
  border-radius: 10px;
  cursor: pointer;
}
@media (min-width:1920px) {
  .prison-body .page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width:800px) {
  .prison-body .prison-blocks {
    display: flex;
    flex-wrap: wrap;
    border-left: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
  }
}
.prison-body .prison-blocks .box {
  padding: 10rem 0 10rem 4rem;
  width: 100%;
  flex-direction: column;
  border-top: 0.2rem solid black;
  border-right: 0.2rem solid black;
  border-left: 0.2rem solid black;
  color: white;
  text-shadow: 0.15rem 0.15rem black;
}
@media (min-width:800px) {
  .prison-body .prison-blocks .box {
    width: 50%;
    border-top: 0.2rem solid black;
    border-right: 0.2rem solid black;
    border-left: 0 solid black;
  }
}
@media (min-width:1920px) {
  .prison-body .prison-blocks .box {
    height: 45rem;
    padding: 15rem 4rem 0 4rem;
  }
}
.prison-body .prison-blocks .box h2 {
  font-size: 2.8rem;
  padding-bottom: 2rem;
  border-bottom: 0.2rem solid white;
  margin-bottom: 2rem;
  width: 70%;
}
.prison-body .prison-blocks .box-1 {
  background-image: url("../img/builder.jpg");
}
.prison-body .prison-blocks .box-2 {
  background-image: url("../img/worker.jpg");
}
.prison-body .prison-blocks .box-3 {
  background-image: url("../img/sky.jpg");
}
.prison-body .prison-blocks .box-4 {
  background-image: url("../img/auto.jpg");
}
.prison-body .prison-blocks .box-5 {
  background-image: url("../img/weld.jpg");
}
.prison-body .prison-blocks .box-6 {
  border-bottom: 0.2rem solid black;
  background-image: url("../img/construction.jpg");
}
.prison-body .prison-blocks .box-6 h2 {
  text-shadow: 0.15rem 0.15rem black;
  border-bottom: 0.2rem solid white;
}
.prison-body .prison-blocks .box-6 p {
  text-shadow: 0.1rem 0.1rem black;
}
@media (min-width:800px) {
  .prison-body .prison-blocks .box-6 {
    border-bottom: 0 solid black;
  }
}
.prison-body .bottom-p {
  margin-top: 4rem;
  padding: 0 4rem 4rem;
  background-image: url("../img/page.jpg");
  text-shadow: 0.15rem 0.15rem white;
}
.prison-body .bottom-p h2 {
  width: 30%;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 0.2rem solid black;
}
@media (min-width:1920px) {
  .prison-body .bottom-p h2 {
    text-align: center;
  }
}
.prison-body .bottom-p button {
  height: 4rem;
  width: 40%;
  font-size: 1.8rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
}
@media (min-width:1920px) {
  .prison-body .bottom-p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
footer {
  text-align: center;
  padding: 2rem;
  background-color: black;
}
footer .icon {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  cursor: pointer;
  padding: 2rem;
  background-color: white;
  border-radius: 6px;
}
@media (min-width:800px) {
  footer .icon {
    width: 40%;
  }
}
footer p {
  margin-top: 2rem;
  color: white;
}
