html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: sans-serif, cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  min-width: 300px;
  width: 100%;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 7rem;
  background-color: rgba(220, 220, 220, 0.8);
  color: white;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
  flex-direction: row-reverse;
  margin: auto 0;
}
header img {
  width: 4rem;
  margin-right: 2rem;
  cursor: pointer;
  padding: 1rem 0;
}
header .menu {
  display: none;
  position: fixed;
  min-width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(79, 79, 79, 0.906);
  overflow: auto;
}
header .menu ul li {
  font-size: 3rem;
  padding: 30px 0;
  text-align: center;
  cursor: pointer;
}
header .menu ul li a {
  text-decoration: none;
  color: white;
}
header .menu li:hover {
  background-color: black;
}
header .menu .exit {
  display: flex;
  flex-direction: row-reverse;
  margin: 2rem 4rem 0 0;
  cursor: pointer;
}
header .menu .center {
  display: flex;
  text-align: center;
  padding: 30px 0;
}
header .menu .center a {
  text-decoration: none;
  color: black;
  width: 100%;
}
header .menu .center a button {
  margin: 0 auto;
  width: 25%;
  font-size: 3rem;
  border-radius: 10px;
  cursor: pointer;
  height: 6rem;
}
header .menu .center a button:hover {
  background-color: black;
  border: 0.2rem solid #df8e02;
  color: #df8e02;
}
header ::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}
header .menu--open {
  display: block;
}
.prison-body {
  flex-wrap: wrap;
  justify-content: space-around;
}
.prison-body .title-image {
  background-image: url("../img/road.jpg");
  background-size: auto;
  background-position: center;
}
.prison-body .page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10rem 4rem 6rem;
  color: white;
}
.prison-body .page-title h1 {
  border-bottom: 1rem solid #73acda;
  border-top: 1rem solid #73acda;
  margin-bottom: 2rem;
  padding: 2rem 0;
  font-weight: bold;
}
.prison-body .page-title button {
  margin-top: 4rem;
  height: 6rem;
  width: 22rem;
  font-size: 1.8rem;
  border-radius: 10px;
  cursor: pointer;
  border: 0.2rem solid black;
}
.prison-body .page-title button:hover {
  background-color: black;
  border: 0.2rem solid white;
  color: white;
}
@media (min-width:800px) {
  .prison-body .page-title {
    width: 75%;
    margin: 0 auto;
  }
  .prison-body .page-title a {
    width: 40%;
  }
}
.prison-body .prison-blocks {
  /*
        .box-1:hover{
            // transition-duration: 2s;
            // text-shadow: .15rem .15rem black;
            // background-image: url("../img/builder.jpg");
            // color:white;
            // background-position: center;
            // background-repeat: no-repeat;
            // @media @tablet{
            //     transform:scaleX(1.2);  
            //     transform-origin: left; 
            //     transition-duration: 1s;

            // } 
            // @media @desktop{
            //     transform:scaleX(1.5);  
            //     transform-origin: left; 
            // }
            h2{ 
                border-bottom: .2rem solid white;
            }
        }
        
        .box-2:hover{
            // transition-duration: 2s;
            // text-shadow: .15rem .15rem black;
            // background-image: url("../img/worker.jpg");
            // color:white;
            // background-position: center;
            // background-repeat: no-repeat;
            // @media @tablet{
            //     transform:scaleX(1.2);  
            //     transform-origin: right; 
            //     transition-duration: 1s;

            // } 
            // @media @desktop{
            //     transform:scaleX(1.5);  
            //     transform-origin: center; 

            // } 
            // h2{
            //     border-bottom: .2rem solid white;

            // }
        }
       
        .box-3:hover{
            // transition-duration: 2s;
            // text-shadow: .15rem .15rem black;
            // background-image: url("../img/sky.jpg");
            // color:white;
            // background-position: center;
            // background-repeat: no-repeat;
            // h2{
            //     border-bottom: .2rem solid white;

            // }
            // @media @tablet{
            //     transform:scaleX(1.2);  
            //     transform-origin: left; 
            //     transition-duration: 1s;

            // }  
            // @media @desktop{
            //     transform:scaleX(1.5);  
            //     transform-origin: right; 
            // }
        }
       
        .box-4:hover{
            // transition-duration: 2s;

            // text-shadow: .15rem .15rem black;
            // background-image: url("../img/auto.jpg");
            // color:white;
            // background-position: center;
            // background-repeat: no-repeat;
            // h2{
            //     border-bottom: .2rem solid white;

            // }
            // @media @tablet{
            //     transform:scaleX(1.2);  
            //     transform-origin: right; 
            //     transition-duration: 1s;

            // }  
            // @media @desktop{
            //     transform:scaleX(1.5);  
            //     transform-origin: left; 
            // }
        }
        
        .box-5:hover{
            // transition-duration: 2s;

            // text-shadow: .15rem .15rem black;
            // background-image: url("../img/weld.jpg");
            // color:white;
            // background-position: center;
            // background-repeat: no-repeat;
            // h2{
            //     border-bottom: .2rem solid white;

            // }
            // @media @tablet{
            //     transform:scaleX(1.2);  
            //     transform-origin: left; 
            //     transition-duration: 1s;

            // }  
            // @media @desktop{
            //     transform:scaleX(1.5); 
            //     transform-origin: center; 
 
            // }
        }
        
            .box-6:hover{
                // transition-duration: 2s;
                // text-shadow: .15rem .15rem black;
                // background-image: url("../img/construction.jpg");
                // color:white;
                // background-position: center;
                // background-repeat: no-repeat;
                
                // h2{
                //     border-bottom: .2rem solid white;
    
                // }
                
            // @media @tablet{
            //     border-bottom: 0 solid black;
            //     transform:scaleX(1.2);  
            //     transform-origin: right;
            //     transition-duration: 1s;

            // }
            // @media @desktop{
            //     transform:scaleX(1.5);  
            //     transform-origin: right; 
            // }
        } 
       */
}
@media (min-width:800px) {
  .prison-body .prison-blocks {
    display: flex;
    flex-wrap: wrap;
    border-left: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
  }
}
.prison-body .prison-blocks .box {
  padding: 7rem 3rem 7rem 4rem;
  width: 100%;
  flex-direction: column;
  border: 0.2rem solid black;
  color: black;
  background-color: #73acda;
}
@media (min-width:800px) {
  .prison-body .prison-blocks .box {
    width: 50%;
    filter: blur(0.15rem);
  }
}
@media (min-width:1600px) {
  .prison-body .prison-blocks .box {
    padding: 10rem 4rem 10rem 4rem;
    width: 33.3333333%;
  }
}
.prison-body .prison-blocks .box h2 {
  font-size: 2.8rem;
  padding-bottom: 2rem;
  border-bottom: 0.5rem solid white;
  margin-bottom: 2rem;
  width: 70%;
}
.prison-body .prison-blocks .box p a {
  text-decoration: none;
  color: white;
}
.prison-body .prison-blocks .box p span {
  font-size: 1.2rem;
  font-style: italic;
}
.prison-body .prison-blocks .box-1:hover {
  filter: blur(0);
}
.prison-body .prison-blocks .box-2:hover {
  filter: blur(0);
}
.prison-body .prison-blocks .box-3:hover {
  filter: blur(0);
}
.prison-body .prison-blocks .box-4:hover {
  filter: blur(0);
}
.prison-body .prison-blocks .box-5:hover {
  filter: blur(0);
}
.prison-body .prison-blocks .box-6:hover {
  filter: blur(0);
}
.prison-body .image-container {
  background-image: url("../img/bottom-lake.jpg");
  background-position: center;
  background-size: cover;
  border-top: 0.2rem solid black;
}
@media (min-width:800px) {
  .prison-body .image-container {
    border-top: 0rem solid black;
  }
}
.prison-body .bottom-p {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 4rem;
  width: 80%;
  background-color: #7b7b7b;
  z-index: 2;
  border-right: 0.4rem solid #73acda;
  border-left: 0.4rem solid #73acda;
}
.prison-body .bottom-p h2 {
  width: 100%;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 0.7rem dashed white;
  text-shadow: 0 0 0.2rem #73acda;
}
@media (min-width:800px) {
  .prison-body .bottom-p h2 {
    text-align: center;
  }
}
.prison-body .bottom-p p {
  text-shadow: 0 0 0.001rem #73acda;
}
.prison-body .bottom-p button {
  height: 6rem;
  width: 16rem;
  font-size: 1.8rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 0.2rem solid black;
  margin-top: 4rem;
}
.prison-body .bottom-p button:hover {
  background-color: black;
  color: white;
  border: 0.2rem solid white;
}
@media (min-width:800px) {
  .prison-body .bottom-p {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .prison-body .bottom-p button {
    width: 40%;
  }
}
footer {
  text-align: center;
  padding: 3rem 0;
  background-color: black;
}
footer .icon {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  cursor: pointer;
  background-color: white;
}
footer .icon i {
  color: black;
  padding: 2rem;
}
footer .icon i:hover {
  background-color: black;
  color: #73acda;
}
@media (min-width:800px) {
  footer .icon {
    width: 40%;
    border-radius: 1rem;
  }
}
footer p {
  margin-top: 2rem;
  color: white;
}
