.prison-body{
    display: flex-column;
    flex-wrap: wrap;
    justify-content: space-around;
   
    .page-title {
        padding: 10rem 4rem 6rem;
        background-color: black;
        color:white;
        h1{
        border-bottom: .2rem solid white;
        margin-bottom: 2rem;
        padding-bottom:2rem;
        }
        button{
            height:4rem;
            width: 40%;
            font-size: 1.8rem;
            border-radius: 10px;
            cursor: pointer;
        }
        @media @desktop{
            display:flex;
            flex-direction: column;
            align-items: center;
            
        }
    }
    .prison-blocks{
        
        @media @tablet{
            display:flex;
            flex-wrap: wrap;
            border-left: .2rem solid black;
            border-bottom: .2rem solid black;
        }
        .box{
            padding: 10rem 0 10rem 4rem;
            width: 100%;
            flex-direction: column;
            border-top: .2rem solid black;
            border-right: .2rem solid black;
            border-left: .2rem solid black;
            color:white;
            text-shadow: .15rem .15rem black;

            @media @tablet{  
                width: 50%;
                border-top: .2rem solid black;
                border-right: .2rem solid black;
                border-left: 0 solid black;
            }
            @media @desktop{
                height:45rem;
                padding: 15rem 4rem 0 4rem;;
            }

            h2{
                font-size: 2.8rem;
                padding-bottom:2rem;
                border-bottom: .2rem solid white;
                margin-bottom:2rem;
                
                    width:70%;
                
            }
        }
        .box-1{
            background-image: url("../img/builder.jpg");

        }
        .box-2{
            background-image: url("../img/worker.jpg");

        }
        .box-3{
            background-image: url("../img/sky.jpg");

        }
        .box-4{
            background-image: url("../img/auto.jpg");

        }
        .box-5{
            background-image: url("../img/weld.jpg");

        }
        .box-6{
            border-bottom: .2rem solid black;
            background-image: url("../img/construction.jpg");
            h2{
                text-shadow: .15rem .15rem black;
                border-bottom: .2rem solid white;

            } 
            p{
            text-shadow: .1rem .1rem black;
            }
            @media @tablet{
                border-bottom: 0 solid black;
            }
        }
       
    }
    .bottom-p{
        margin-top: 4rem;
        padding: 0 4rem 4rem;
        background-image: url("../img/page.jpg");
        text-shadow:.15rem .15rem white;

        h2{
            width:30%;
            padding-bottom:2rem;
            margin-bottom:2rem;
            border-bottom:.2rem solid black;
            @media @desktop{
                text-align:center;
            }
        }
        button{
            height:4rem;
            width: 40%;
            font-size: 1.8rem;
            border-radius: 10px;
            cursor: pointer;
            background-color:black;
            color:white; 

        }
        @media @desktop{
            display:flex;
            flex-direction: column;
            align-items: center;
        }
    }
}