.prison-body{
    flex-wrap: wrap;
    justify-content: space-around;
    
    .title-image{
        background-image:url("../img/road.jpg");
        background-size: auto;
        background-position: center;
    }
    
    .page-title {
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10rem 4rem 6rem;
        color:white;
        h1{
        border-bottom: 1rem solid rgb(115, 172, 218);
        border-top: 1rem solid rgb(115, 172, 218);
        margin-bottom: 2rem;
        padding:2rem 0;
        font-weight:bold;
        }
      
        button{
            margin-top:4rem;
            height:6rem;
            width:22rem;
            font-size: 1.8rem;
            border-radius: 10px;
            cursor: pointer;
            border:.2rem solid black;

        }
        button:hover{
            background-color:black;
            border:.2rem solid white;
            color:white;
        }
        @media @tablet{
            
            width:75%;
            margin:0 auto;
            a{
                width: 40%;
            }
        }
    }
    .prison-blocks{
        
        @media @tablet{
            display:flex;
            flex-wrap: wrap;
            border-left: .2rem solid black;
            border-bottom: .2rem solid black;
        }
        .box{
            padding: 7rem 3rem 7rem 4rem;
            width: 100%;
            flex-direction: column;
            border: .2rem solid black;
            color:black;
            background-color:rgb(115, 172, 218);
           
            
            @media @tablet{  
                width: 50%;
                filter:blur(.15rem);
            }
            @media @desktop{
                padding: 10rem 4rem 10rem 4rem;
                width: 33.3333333%;
            }

            h2{
                font-size: 2.8rem;
                padding-bottom:2rem;
                border-bottom: .5rem solid white;
                margin-bottom:2rem;
                width:70%;
            }
            p a{
                text-decoration: none;
                color:white;
            }
            p span{
                font-size: 1.2rem;
                font-style: italic; 
            }
        }
        .box-1:hover{
            filter:blur(0);
        }
        .box-2:hover{
            filter:blur(0);
        }
        .box-3:hover{
            filter:blur(0);
        }
        .box-4:hover{
            filter:blur(0);
        }
        .box-5:hover{
            filter:blur(0);
        }
        .box-6:hover{
            filter:blur(0);
        }
       /*
        .box-1:hover{
            // transition-duration: 2s;
            // text-shadow: .15rem .15rem black;
            // background-image: url("../img/builder.jpg");
            // color:white;
            // background-position: center;
            // background-repeat: no-repeat;
            // @media @tablet{
            //     transform:scaleX(1.2);  
            //     transform-origin: left; 
            //     transition-duration: 1s;

            // } 
            // @media @desktop{
            //     transform:scaleX(1.5);  
            //     transform-origin: left; 
            // }
            h2{ 
                border-bottom: .2rem solid white;
            }
        }
        
        .box-2:hover{
            // transition-duration: 2s;
            // text-shadow: .15rem .15rem black;
            // background-image: url("../img/worker.jpg");
            // color:white;
            // background-position: center;
            // background-repeat: no-repeat;
            // @media @tablet{
            //     transform:scaleX(1.2);  
            //     transform-origin: right; 
            //     transition-duration: 1s;

            // } 
            // @media @desktop{
            //     transform:scaleX(1.5);  
            //     transform-origin: center; 

            // } 
            // h2{
            //     border-bottom: .2rem solid white;

            // }
        }
       
        .box-3:hover{
            // transition-duration: 2s;
            // text-shadow: .15rem .15rem black;
            // background-image: url("../img/sky.jpg");
            // color:white;
            // background-position: center;
            // background-repeat: no-repeat;
            // h2{
            //     border-bottom: .2rem solid white;

            // }
            // @media @tablet{
            //     transform:scaleX(1.2);  
            //     transform-origin: left; 
            //     transition-duration: 1s;

            // }  
            // @media @desktop{
            //     transform:scaleX(1.5);  
            //     transform-origin: right; 
            // }
        }
       
        .box-4:hover{
            // transition-duration: 2s;

            // text-shadow: .15rem .15rem black;
            // background-image: url("../img/auto.jpg");
            // color:white;
            // background-position: center;
            // background-repeat: no-repeat;
            // h2{
            //     border-bottom: .2rem solid white;

            // }
            // @media @tablet{
            //     transform:scaleX(1.2);  
            //     transform-origin: right; 
            //     transition-duration: 1s;

            // }  
            // @media @desktop{
            //     transform:scaleX(1.5);  
            //     transform-origin: left; 
            // }
        }
        
        .box-5:hover{
            // transition-duration: 2s;

            // text-shadow: .15rem .15rem black;
            // background-image: url("../img/weld.jpg");
            // color:white;
            // background-position: center;
            // background-repeat: no-repeat;
            // h2{
            //     border-bottom: .2rem solid white;

            // }
            // @media @tablet{
            //     transform:scaleX(1.2);  
            //     transform-origin: left; 
            //     transition-duration: 1s;

            // }  
            // @media @desktop{
            //     transform:scaleX(1.5); 
            //     transform-origin: center; 
 
            // }
        }
        
            .box-6:hover{
                // transition-duration: 2s;
                // text-shadow: .15rem .15rem black;
                // background-image: url("../img/construction.jpg");
                // color:white;
                // background-position: center;
                // background-repeat: no-repeat;
                
                // h2{
                //     border-bottom: .2rem solid white;
    
                // }
                
            // @media @tablet{
            //     border-bottom: 0 solid black;
            //     transform:scaleX(1.2);  
            //     transform-origin: right;
            //     transition-duration: 1s;

            // }
            // @media @desktop{
            //     transform:scaleX(1.5);  
            //     transform-origin: right; 
            // }
        } 
       */
    }
.image-container{
    background-image: url("../img/bottom-lake.jpg");
    background-position: center;
    background-size: cover;
    border-top: .2rem solid black;
    @media @tablet {
        border-top: .0rem solid black;

    }

}
    .bottom-p{
        display:flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 4rem;
        width:80%;
        background-color:rgb(123, 123, 123);
        z-index: 2;
        border-right: .4rem solid rgb(115, 172, 218);
        border-left: .4rem solid rgb(115, 172, 218);

        h2{
            width:100%;
            padding-bottom:2rem;
            margin-bottom:2rem;
            border-bottom:.7rem dashed white;
            text-shadow: 0 0 .2rem rgb(115, 172, 218);
            @media @tablet{
                text-align: center;            
            }
        }
        p{
            text-shadow: 0 0 .001rem rgb(115, 172, 218);
        }
        
        button{
            height:6rem;
            width: 16rem;
            font-size: 1.8rem;
            border-radius: 10px;
            cursor: pointer;
            background-color:white;
            color:black; 
            border:.2rem solid black;
            margin-top:4rem;

        }
        button:hover{
            background-color:black;
            color:white; 
            border:.2rem solid white;

        }

        @media @tablet{
            width: 60%;
            display:flex;
            flex-direction: column;
            align-items: center;
            align-items: center;
            button{
                width: 40%;
            }
        }
    }
}