footer{
    text-align:center;
    padding: 3rem 0;
    background-color:black; 
    .icon{
        display:flex;
        justify-content: space-around;
        margin: 0 auto;
        cursor: pointer;
        background-color:white;
        
        i{
            color:black;
            padding:2rem;
        }
        i:hover{
            box-shadow:0 0 2rem black;
            text-shadow:0 0 1rem @main-blue;
            color:rgb(115, 172, 218);
        }
        @media @tablet {
            width:30%;
            border-radius: 1rem;
            justify-content: space-around;

        }
    }
    p{
        margin-top:2rem;
        color:white;
    }
}