footer{
    text-align:center;
    margin: 2rem;
    .icon{
        width:40%;
        display:flex;
        justify-content: space-between;
        margin: 0 auto;
        cursor: pointer;
    }
    p{
        margin-top:2rem;
    }
}