header{
    width: 100%;
    height: 7rem;
    background-color: rgba(123, 123, 123, 0.8);
    color: white;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 10;
    justify-content: space-between;
    margin: auto 0;
    align-items: center;
    .topArrow{
        margin-left:2rem;
        cursor: pointer;
    }
    img{
        width:4rem;
        margin-right: 2rem;
        cursor: pointer;
        padding:1rem 0; 
    }
    
    .menu{
        top:0;
        display:none;
        position: fixed;
        min-width: 100%;
        height: 100vh; 
        z-index: 10;
        background-color: rgba(79, 79, 79, 0.9);
        overflow: auto;
        
        ul li{
            font-size: 3rem;
            padding: 30px 0;
            text-align: center;
            cursor: pointer;
            a{
                text-decoration: none;
                color:white;
            }
        }
        li:hover{
            background-color: black;
            
        }
        .exit{
           display: flex;
            flex-direction: row-reverse;
            margin:2rem 4rem 0 0;
            cursor: pointer;
        }
        .center{
            display:flex;
            text-align:center;
            padding: 30px 0;
            a{
                text-decoration: none;
                color:black;
                width:100%;
            
            button{
                margin:0 auto;
                width:25%;
                font-size: 3rem;
                border-radius: 10px;
                cursor: pointer;
                height:6rem;
                }
                button:hover{
                    background-color:black;
                    border:.2rem solid rgb(115, 172, 218);
                    color:rgb(115, 172, 218);
                }
            }
        }
    }
    ::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
     }
    .menu--open {
        display: block;
      }
}
